
conn %default
  ikelifetime={{ strongswan_ikelifetime }}
  keylife={{ strongswan_keylife }}
  rekeymargin={{ strongswan_rekeymargin }}
  keyingtries={{ strongswan_keyingtries }}
  keyexchange={{ strongswan_keyexchange }}
  authby={{ strongswan_authby }}

